<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
   http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   version="3.0"
   metadata-complete="true">

   <!-- フィルター -->
   <!-- <filter>
     <filter-name>logincheckfilter</filter-name>
     <filter-class>filters.LoginCheckFilter</filter-class>
     <init-param>
        <param-name>username</param-name>
        <param-value>ica</param-value>
     </init-param>
     <init-param>
       <param-name>password</param-name>
       <param-value>tera</param-value>
     </init-param>
   </filter>
   <filter-mapping>
     <filter-name>logincheckfilter</filter-name>
     <url-pattern>/productinput</url-pattern>
     <dispatcher>REQUEST</dispatcher>
   </filter-mapping>
   <filter-mapping>
     <filter-name>logincheckfilter</filter-name>
     <url-pattern>/productorder</url-pattern>
     <dispatcher>REQUEST</dispatcher>
   </filter-mapping>

   <filter>
     <filter-name>authenticatefilter</filter-name>
     <filter-class>filters.AuthenticateFilter</filter-class>
   </filter>
   <filter-mapping>
     <filter-name>authenticatefilter</filter-name>
     <url-pattern>/productinput</url-pattern>
     <dispatcher>REQUEST</dispatcher>
   </filter-mapping>
   <filter-mapping>
     <filter-name>authenticatefilter</filter-name>
     <url-pattern>/productorder</url-pattern>
     <dispatcher>REQUEST</dispatcher>
   </filter-mapping> -->

   <servlet>
       <servlet-name>productorder</servlet-name>
       <jsp-file>/productorder.jsp</jsp-file>
   </servlet>
   <servlet-mapping>
       <servlet-name>productorder</servlet-name>
       <url-pattern>/productorder</url-pattern>
   </servlet-mapping>

   <servlet>
       <servlet-name>orderlogin</servlet-name>
       <jsp-file>/orderlogin.jsp</jsp-file>
   </servlet>
   <servlet-mapping>
       <servlet-name>orderlogin</servlet-name>
       <url-pattern>/orderlogin</url-pattern>
   </servlet-mapping>

   <servlet>
       <servlet-name>productinput</servlet-name>
       <jsp-file>/productinput.jsp</jsp-file>
   </servlet>
   <servlet-mapping>
       <servlet-name>productinput</servlet-name>
       <url-pattern>/productinput</url-pattern>
   </servlet-mapping>

    <servlet>
        <servlet-name>authenticate</servlet-name>
        <servlet-class>servlet.AuthenticateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authenticate</servlet-name>
        <url-pattern>/authenticate</url-pattern>
    </servlet-mapping>

    <!-- <servlet>
        <servlet-name>sessionend</servlet-name>
        <servlet-class>servlets.SessionEndServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sessionend</servlet-name>
        <url-pattern>/sessionend</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cartinfo</servlet-name>
        <jsp-file>/cartinfo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>cartinfo</servlet-name>
        <url-pattern>/cartinfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>confirm</servlet-name>
        <jsp-file>/UserRegisterConfirm.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>confirm</servlet-name>
        <url-pattern>/confirm</url-pattern>
    </servlet-mapping> -->
    <!-- FrontControllerPattern -->
    <servlet>
      <servlet-name>FrontServlet</servlet-name>
      <servlet-class>FrontServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>FrontServlet</servlet-name>
      <url-pattern>/front/*</url-pattern>
    </servlet-mapping>
</web-app>
