<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
   http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   version="3.0"
   metadata-complete="true">

   <context-param>
     <param-name>param3</param-name>
     <param-value>WEBプログラミング科</param-value>
   </context-param>

   <servlet>
     <servlet-name>elobject</servlet-name>
     <jsp-file>/elobject.jsp</jsp-file>
   </servlet>

   <servlet-mapping>
     <servlet-name>elobject</servlet-name>
     <url-pattern>/elobject</url-pattern>
   </servlet-mapping>

    	<servlet>
    		<servlet-name>FrontServlet</servlet-name>
    		<servlet-class>FrontServlet</servlet-class>
    	</servlet>

    	<servlet-mapping>
    		<servlet-name>FrontServlet</servlet-name>
    		<url-pattern>/front</url-pattern>
    	</servlet-mapping>

    	<servlet>
    		<servlet-name>jspobject</servlet-name>
    		<jsp-file>/jspobject.jsp</jsp-file>
    		<init-param>
    			<param-name>param1</param-name>
    			<param-value>terahouse</param-value>
    		</init-param>
    	</servlet>

    	<servlet-mapping>
    		<servlet-name>jspobject</servlet-name>
    		<url-pattern>/jspobject</url-pattern>
    	</servlet-mapping>


</web-app>
