<?xml version="1.0" encoding="UTF-8"?>

   <web-app>
      <servlet>
         <servlet-name>ParamTest</servlet-name>
         <servlet-class>ParamTestServlet</servlet-class>
         <init-param>
            <param-name>date_format</param-name>
            <param-value>yyyy/M/d(E) k:m:s</param-value>
         </init-param>
         <init-param>
            <param-name>encode_type</param-name>
            <param-value>Windows-31J</param-value>
         </init-param>
      </servlet>
      <servlet-mapping>
         <servlet-name>ParamTest</servlet-name>
         <url-pattern>/paramtest</url-pattern>
      </servlet-mapping>

      <servlet>
         <servlet-name>RequestTest</servlet-name>
         <servlet-class>RequestTest</servlet-class>
      </servlet>
      <servlet-mapping>
         <servlet-name>RequestTest</servlet-name>
         <url-pattern>/requesttest</url-pattern>
      </servlet-mapping>

      <servlet>
         <servlet-name>checktest</servlet-name>
         <servlet-class>CheckTest</servlet-class>
      </servlet>
      <servlet-mapping>
         <servlet-name>checktest</servlet-name>
         <url-pattern>/check</url-pattern>
      </servlet-mapping>

   </web-app>
